.navbar-brand:hover {
    color: #74C0FC; 
}

.nav-item .nav-link:hover {
    color: #74C0FC; 
}
  
.nav-dropdown-item .nav-dropdown-link:hover {
    color: rgb(143, 141, 141);
}
  
#search_toggle:hover {
    color: #74C0FC;
}
  
.avatar-wrapper {
    width: 200px;  
    height: 200px; 
}
  
/* .avatar {
    border-radius: 0 !important; 
    width: 100% !important;    
    height: 100% !important;    
} */