.navbar-brand:hover {
    color: #74C0FC; 
}

.nav-item .nav-link:hover {
    color: #74C0FC; 
}
  
.nav-dropdown-item .nav-dropdown-link .nav-dropdown-list:hover {
    color: #74C0FC;
    background: rgb(41, 40, 40);
}
  
#search_toggle:hover {
    color: #74C0FC;
}
  
