<a href="{{ $link }}" {{ $target | safeHTMLAttr }} class="mb-5">
    <div class="flex items-start">
      <div class="flex-shrink-0 overflow-hidden w-1/2">
        {{ with $resource }}
          {{ $image := .Fill (printf "655x655 %s" $anchor) }}
          {{ if ne $image.MediaType.SubType "gif" }}{{ $image = $image.Process "webp" }}{{ end }}
        <img class="h-full w-full object-cover hover:scale-125 transition duration-500 cursor-pointer" loading="lazy" src="{{ $image.RelPermalink }}" height="{{ $image.Height }}" width="{{ $image.Width }}" alt="{{ $item.Title | plainify }}">
        {{end}}
      </div>
      <div class="p-8 w-1/2">
        <div class="uppercase tracking-wide text-md text-primary-700 dark:text-primary-200 font-semibold">{{ $item.Title }}</div>
        <p class="block mt-1 text-sm leading-tight font-medium text-black dark:text-white">
          {{ ($item.Params.summary | default $item.Summary) | plainify | htmlUnescape | chomp -}}
        </p>
        <p class="mt-2 text-gray-500 dark:text-gray-400 text-sm">
          {{- $item.Date | time.Format (site.Params.locale.date_format | default ":date_long") -}}
        </p>
      </div>
    </div>
  </a>
  