{{ $item := .Page }}

<!-- 배너 이미지 표시 -->
<div class="w-full h-[250px] overflow-hidden">
  <img src="{{ $item.Params.banner.image }}" alt="{{ $item.Title }}" class="object-cover w-full h-full">
</div>

<!-- 타이틀 표시 -->
<h1 class="text-center text-3xl font-bold my-5">{{ $item.Title }}</h1>

<!-- 요약 표시 -->
<div class="text-center text-xl text-gray-600 dark:text-gray-300 mb-8">
  {{ $item.Summary }}
</div>

<!-- 마크다운 본문 표시 -->
<div class="prose lg:prose-xl mx-auto mb-8">
  {{ .Content | markdownify }}
</div>
