{{ $item := .item }}

{{ $link := $item.RelPermalink }}
{{ $target := "" }}
{{ if $item.Params.external_link }}
  {{ $link = $item.Params.external_link }}
  {{ $target = "target=\"_blank\" rel=\"noopener\"" }}
{{ end }}

{{ $resource := partial "functions/get_featured_image.html" $item }}
{{ $anchor := $item.Params.image.focal_point | default "Center" }}

<a href="{{ $link }}" {{ $target | safeHTMLAttr }} class="mb-5">
    <div class="relative overflow-hidden w-full" style="height: 300px; border-radius: 15px;">
      {{ with $resource }}
        {{ $image := .Fill (printf "1200x300 %s" $anchor) }}
        {{ if ne $image.MediaType.SubType "gif" }}{{ $image = $image.Process "webp" }}{{ end }}
        <!-- 이미지가 배경으로 들어가고, 높이 300px, 넓이 100% -->
        <img class="absolute top-0 left-0 h-full w-full object-cover hover:scale-110 transition duration-500 cursor-pointer" loading="lazy" src="{{ $image.RelPermalink }}" alt="{{ $item.Title | plainify }}">
      {{ end }}
  
      <!-- 텍스트 오버레이 -->
      <div class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-50 hover:bg-opacity-75 transition duration-300" style="border-radius: 15px;">
        <div class="text-white text-center">
          <h2 class="text-xl md:text-2xl lg:text-3xl font-semibold">
            {{ $item.Title }}
          </h2>
          <p class="mt-2 text-lg md:text-xl lg:text-2xl">
            {{ $item.Params.description | default "" }}
          </p>
        </div>
      </div>
    </div>
  </a>
  